<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.portable.firebasetests">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".core.FireTasksApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainTheme.NoActionBar"
        tools:replace="android:allowBackup">
        <activity android:name=".ui.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.WeeksActivity" />

        <receiver
            android:name=".NotificationsBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".ui.activities.TagEditorActivity" />
        <activity
            android:name=".ui.activities.TaskDisplayActivity"
            android:parentActivityName=".ui.activities.WeeksActivity" />
        <activity android:name=".ui.activities.TaskModifyActivity" />
        <activity android:name=".ui.activities.ReminderEditorActivity" />
    </application>

</manifest>